html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: white url("images/background-cool.gif") no-repeat;
}

ul {
    margin: 25% 100px;
}

li a {
    color: white;
    font-size: 3em;
    font-weight: bold;
}